In [57]:
import pandas as pd
import numpy as np

In [6]:
swap_rates = pd.read_csv("../data/market-data-swap-rates.csv")
swap_rates.head(50)

          Date  Start Date Tenor  Swap Rate
0   2021-01-13  2022-01-13   10y   1.081333
1   2021-01-13  2022-01-13   15y   1.265960
2   2021-01-13  2022-01-13   18M   0.221625
3   2021-01-13  2022-01-13    1y   0.195474
4   2021-01-13  2022-01-13    2y   0.279370
5   2021-01-13  2022-01-13    3y   0.404284
6   2021-01-13  2022-01-13    4y   0.536341
7   2021-01-13  2022-01-13    5y   0.664396
8   2021-01-13  2022-01-13    8y   0.950975
9   2021-01-13  2022-07-13   10y   1.155757
10  2021-01-13  2022-07-13   15y   1.315969
11  2021-01-13  2022-07-13   18M   0.310738
12  2021-01-13  2022-07-13    1y   0.240025
13  2021-01-13  2022-07-13    2y   0.378942
14  2021-01-13  2022-07-13    3y   0.516830
15  2021-01-13  2022-07-13    4y   0.653250
16  2021-01-13  2022-07-13    5y   0.775163
17  2021-01-13  2022-07-13    8y   1.038092
18  2021-01-13  2023-01-13   10y   1.230669
19  2021-01-13  2023-01-13   15y   1.366393
20  2021-01-13  2023-01-13   18M   0.436460
21  2021-01-13  2023-01-13    1y   0.362688
22  2021-01-13  2023-01-13    2y   0.509029
23  2021-01-13  2023-01-13    3y   0.650651
24  2021-01-13  2023-01-13    4y   0.782766
25  2021-01-13  2023-01-13    5y   0.892360
26  2021-01-13  2023-01-13    8y   1.127124
27  2021-01-13  2024-01-15   10y   1.365134
28  2021-01-13  2024-01-15   15y   1.456788
29  2021-01-13  2024-01-15   18M   0.726273
30  2021-01-13  2024-01-15    1y   0.658901
31  2021-01-13  2024-01-15    2y   0.798060
32  2021-01-13  2024-01-15    3y   0.926464
33  2021-01-13  2024-01-15    4y   1.029440
34  2021-01-13  2024-01-15    5y   1.112759
35  2021-01-13  2024-01-15    8y   1.291164
36  2021-01-13  2025-01-13   10y   1.467907
37  2021-01-13  2025-01-13   15y   1.524979
38  2021-01-13  2025-01-13   18M   0.998679
39  2021-01-13  2025-01-13    1y   0.936284
40  2021-01-13  2025-01-13    2y   1.060054
41  2021-01-13  2025-01-13    3y   1.152556
42  2021-01-13  2025-01-13    4y   1.227667
43  2021-01-13  2025-01-13    5y   1.288969
44  2021-01-13  2025-01-13    8y   1.420018
45  2021-01-13  2026-01-13   10y   1.543005
46  2021-01-13  2026-01-13   15y   1.573561
47  2021-01-13  2026-01-13   18M   1.222653
48  2021-01-13  2026-01-13    1y   1.184946
49  2021-01-13  2026-01-13    2y   1.262265

In [85]:
swap_rates.describe()
swap_rates["Date"] = pd.to_datetime(swap_rates["Date"])
swap_rates

            Date  Start Date Tenor  Swap Rate
0     2021-01-13  2022-01-13   10y   1.081333
1     2021-01-13  2022-01-13   15y   1.265960
2     2021-01-13  2022-01-13   18M   0.221625
3     2021-01-13  2022-01-13    1y   0.195474
4     2021-01-13  2022-01-13    2y   0.279370
...          ...         ...   ...        ...
63175 2024-01-12  2039-01-12    2y   3.424505
63176 2024-01-12  2039-01-12    3y   3.393758
63177 2024-01-12  2039-01-12    4y   3.358897
63178 2024-01-12  2039-01-12    5y   3.319531
63179 2024-01-12  2039-01-12    8y   3.192330

[63180 rows x 4 columns]

In [8]:
swap_rates_by_today = swap_rates[swap_rates["Start Date"] < "2024-05-14"]
swap_rates_by_today


# EMA Dampling 
#

             Date  Start Date Tenor  Swap Rate
0      2021-01-13  2022-01-13   10y   1.081333
1      2021-01-13  2022-01-13   15y   1.265960
2      2021-01-13  2022-01-13   18M   0.221625
3      2021-01-13  2022-01-13    1y   0.195474
4      2021-01-13  2022-01-13    2y   0.279370
...           ...         ...   ...        ...
48442  2023-05-12  2024-05-13    2y   2.726265
48443  2023-05-12  2024-05-13    3y   2.669241
48444  2023-05-12  2024-05-13    4y   2.664295
48445  2023-05-12  2024-05-13    5y   2.678270
48446  2023-05-12  2024-05-13    8y   2.745624

[13563 rows x 4 columns]

In [93]:
def ema(gp):
    #  Date is in the order natrually, so no need to rearrange the date
    N = len(gp)
    alpha = 2 / (N + 1)
    coe = []
    for i in range(N):
        coe.append(alpha * ((1 - alpha) ** i))
    coe.reverse()
    print(coe)
    return sum(np.array(gp) * np.array(coe))

In [94]:
gp_vols = swap_rates[:1000].groupby(['Start Date', 'Tenor'])['Swap Rate'].apply(ema).reset_index()
gp_vols

0    1.081333
Name: (2022-01-13, 10y), dtype: float64
[1.0]
1    1.26596
Name: (2022-01-13, 15y), dtype: float64
[1.0]
2    0.221625
Name: (2022-01-13, 18M), dtype: float64
[1.0]
3    0.195474
Name: (2022-01-13, 1y), dtype: float64
[1.0]
4    0.27937
Name: (2022-01-13, 2y), dtype: float64
[1.0]
5    0.404284
Name: (2022-01-13, 3y), dtype: float64
[1.0]
6    0.536341
Name: (2022-01-13, 4y), dtype: float64
[1.0]
7    0.664396
Name: (2022-01-13, 5y), dtype: float64
[1.0]
8    0.950975
Name: (2022-01-13, 8y), dtype: float64
[1.0]
81    1.089143
Name: (2022-01-17, 10y), dtype: float64
[1.0]
82    1.282148
Name: (2022-01-17, 15y), dtype: float64
[1.0]
83    0.20768
Name: (2022-01-17, 18M), dtype: float64
[1.0]
84    0.183757
Name: (2022-01-17, 1y), dtype: float64
[1.0]
85    0.265282
Name: (2022-01-17, 2y), dtype: float64
[1.0]
86    0.38801
Name: (2022-01-17, 3y), dtype: float64
[1.0]
87    0.520584
Name: (2022-01-17, 4y), dtype: float64
[1.0]
88    0.651427
Name: (2022-01-17, 5y), dtype: float64
[1.0]
89    0.951554
Name: (2022-01-17, 8y), dtype: float64
[1.0]
162    1.089213
Name: (2022-01-18, 10y), dtype: float64
[1.0]
163    1.282195
Name: (2022-01-18, 15y), dtype: float64
[1.0]
164    0.207877
Name: (2022-01-18, 18M), dtype: float64
[1.0]
165    0.18391
Name: (2022-01-18, 1y), dtype: float64
[1.0]
166    0.265514
Name: (2022-01-18, 2y), dtype: float64
[1.0]
167    0.389312
Name: (2022-01-18, 3y), dtype: float64
[1.0]
168    0.520814
Name: (2022-01-18, 4y), dtype: float64
[1.0]
169    0.651577
Name: (2022-01-18, 5y), dtype: float64
[1.0]
170    0.951847
Name: (2022-01-18, 8y), dtype: float64
[1.0]
243    1.079685
Name: (2022-01-19, 10y), dtype: float64
[1.0]
244    1.268145
Name: (2022-01-19, 15y), dtype: float64
[1.0]
245    0.201714
Name: (2022-01-19, 18M), dtype: float64
[1.0]
246    0.179393
Name: (2022-01-19, 1y), dtype: float64
[1.0]
247    0.258814
Name: (2022-01-19, 2y), dtype: float64
[1.0]
248    0.380508
Name: (2022-01-19, 3y), dtype: float64
[1.0]
249    0.509579
Name: (2022-01-19, 4y), dtype: float64
[1.0]
250    0.640584
Name: (2022-01-19, 5y), dtype: float64
[1.0]
251    0.944606
Name: (2022-01-19, 8y), dtype: float64
[1.0]
324    1.080899
Name: (2022-01-20, 10y), dtype: float64
[1.0]
325    1.271112
Name: (2022-01-20, 15y), dtype: float64
[1.0]
326    0.20433
Name: (2022-01-20, 18M), dtype: float64
[1.0]
327    0.180845
Name: (2022-01-20, 1y), dtype: float64
[1.0]
328    0.262298
Name: (2022-01-20, 2y), dtype: float64
[1.0]
329    0.38559
Name: (2022-01-20, 3y), dtype: float64
[1.0]
330    0.516054
Name: (2022-01-20, 4y), dtype: float64
[1.0]
331    0.646211
Name: (2022-01-20, 5y), dtype: float64
[1.0]
332    0.946076
Name: (2022-01-20, 8y), dtype: float64
[1.0]
405    1.104548
Name: (2022-01-21, 10y), dtype: float64
[1.0]
406    1.297919
Name: (2022-01-21, 15y), dtype: float64
[1.0]
407    0.201237
Name: (2022-01-21, 18M), dtype: float64
[1.0]
408    0.177184
Name: (2022-01-21, 1y), dtype: float64
[1.0]
409    0.261235
Name: (2022-01-21, 2y), dtype: float64
[1.0]
410    0.387475
Name: (2022-01-21, 3y), dtype: float64
[1.0]
411    0.520329
Name: (2022-01-21, 4y), dtype: float64
[1.0]
412    0.655441
Name: (2022-01-21, 5y), dtype: float64
[1.0]
413    0.966296
Name: (2022-01-21, 8y), dtype: float64
[1.0]
486    1.09949
Name: (2022-01-24, 10y), dtype: float64
[1.0]
487    1.294009
Name: (2022-01-24, 15y), dtype: float64
[1.0]
488    0.200774
Name: (2022-01-24, 18M), dtype: float64
[1.0]
489    0.17757
Name: (2022-01-24, 1y), dtype: float64
[1.0]
490    0.25921
Name: (2022-01-24, 2y), dtype: float64
[1.0]
491    0.386096
Name: (2022-01-24, 3y), dtype: float64
[1.0]
492    0.519875
Name: (2022-01-24, 4y), dtype: float64
[1.0]
493    0.653638
Name: (2022-01-24, 5y), dtype: float64
[1.0]
494    0.960448
Name: (2022-01-24, 8y), dtype: float64
[1.0]
567    1.0602
Name: (2022-01-25, 10y), dtype: float64
[1.0]
568    1.252116
Name: (2022-01-25, 15y), dtype: float64
[1.0]
569    0.196054
Name: (2022-01-25, 18M), dtype: float64
[1.0]
570    0.176185
Name: (2022-01-25, 1y), dtype: float64
[1.0]
571    0.251352
Name: (2022-01-25, 2y), dtype: float64
[1.0]
572    0.372384
Name: (2022-01-25, 3y), dtype: float64
[1.0]
573    0.498362
Name: (2022-01-25, 4y), dtype: float64
[1.0]
574    0.626505
Name: (2022-01-25, 5y), dtype: float64
[1.0]
575    0.924
Name: (2022-01-25, 8y), dtype: float64
[1.0]
648    1.061704
Name: (2022-01-26, 10y), dtype: float64
[1.0]
649    1.251815
Name: (2022-01-26, 15y), dtype: float64
[1.0]
650    0.197616
Name: (2022-01-26, 18M), dtype: float64
[1.0]
651    0.176736
Name: (2022-01-26, 1y), dtype: float64
[1.0]
652    0.254339
Name: (2022-01-26, 2y), dtype: float64
[1.0]
653    0.375361
Name: (2022-01-26, 3y), dtype: float64
[1.0]
654    0.502169
Name: (2022-01-26, 4y), dtype: float64
[1.0]
655    0.630075
Name: (2022-01-26, 5y), dtype: float64
[1.0]
656    0.926758
Name: (2022-01-26, 8y), dtype: float64
[1.0]
729    1.042757
Name: (2022-01-27, 10y), dtype: float64
[1.0]
730    1.230785
Name: (2022-01-27, 15y), dtype: float64
[1.0]
731    0.194798
Name: (2022-01-27, 18M), dtype: float64
[1.0]
732    0.174026
Name: (2022-01-27, 1y), dtype: float64
[1.0]
733    0.251849
Name: (2022-01-27, 2y), dtype: float64
[1.0]
734    0.367771
Name: (2022-01-27, 3y), dtype: float64
[1.0]
735    0.490884
Name: (2022-01-27, 4y), dtype: float64
[1.0]
736    0.616615
Name: (2022-01-27, 5y), dtype: float64
[1.0]
737    0.909289
Name: (2022-01-27, 8y), dtype: float64
[1.0]
810    1.083929
Name: (2022-01-28, 10y), dtype: float64
[1.0]
811    1.271816
Name: (2022-01-28, 15y), dtype: float64
[1.0]
812    0.202633
Name: (2022-01-28, 18M), dtype: float64
[1.0]
813    0.179197
Name: (2022-01-28, 1y), dtype: float64
[1.0]
814    0.263758
Name: (2022-01-28, 2y), dtype: float64
[1.0]
815    0.386191
Name: (2022-01-28, 3y), dtype: float64
[1.0]
816    0.515091
Name: (2022-01-28, 4y), dtype: float64
[1.0]
817    0.646136
Name: (2022-01-28, 5y), dtype: float64
[1.0]
818    0.948326
Name: (2022-01-28, 8y), dtype: float64
[1.0]
891    1.121669
Name: (2022-01-31, 10y), dtype: float64
[1.0]
892    1.31003
Name: (2022-01-31, 15y), dtype: float64
[1.0]
893    0.195901
Name: (2022-01-31, 18M), dtype: float64
[1.0]
894    0.169856
Name: (2022-01-31, 1y), dtype: float64
[1.0]
895    0.260304
Name: (2022-01-31, 2y), dtype: float64
[1.0]
896    0.395823
Name: (2022-01-31, 3y), dtype: float64
[1.0]
897    0.535626
Name: (2022-01-31, 4y), dtype: float64
[1.0]
898    0.672493
Name: (2022-01-31, 5y), dtype: float64
[1.0]
899    0.984342
Name: (2022-01-31, 8y), dtype: float64
[1.0]
972    1.111044
Name: (2022-02-01, 10y), dtype: float64
[1.0]
973    1.29894
Name: (2022-02-01, 15y), dtype: float64
[1.0]
974    0.191479
Name: (2022-02-01, 18M), dtype: float64
[1.0]
975    0.16783
Name: (2022-02-01, 1y), dtype: float64
[1.0]
976    0.253937
Name: (2022-02-01, 2y), dtype: float64
[1.0]
977    0.388114
Name: (2022-02-01, 3y), dtype: float64
[1.0]
978    0.526478
Name: (2022-02-01, 4y), dtype: float64
[1.0]
979    0.662835
Name: (2022-02-01, 5y), dtype: float64
[1.0]
980    0.973792
Name: (2022-02-01, 8y), dtype: float64
[1.0]
9    1.155757
Name: (2022-07-13, 10y), dtype: float64
[1.0]
10    1.315969
Name: (2022-07-13, 15y), dtype: float64
[1.0]
11    0.310738
Name: (2022-07-13, 18M), dtype: float64
[1.0]
12    0.240025
Name: (2022-07-13, 1y), dtype: float64
[1.0]
13    0.378942
Name: (2022-07-13, 2y), dtype: float64
[1.0]
14    0.51683
Name: (2022-07-13, 3y), dtype: float64
[1.0]
15    0.65325
Name: (2022-07-13, 4y), dtype: float64
[1.0]
16    0.775163
Name: (2022-07-13, 5y), dtype: float64
[1.0]
17    1.038092
Name: (2022-07-13, 8y), dtype: float64
[1.0]
90    1.164548
Name: (2022-07-15, 10y), dtype: float64
[1.0]
91    1.332801
Name: (2022-07-15, 15y), dtype: float64
[1.0]
92    0.296068
Name: (2022-07-15, 18M), dtype: float64
[1.0]
93    0.226014
Name: (2022-07-15, 1y), dtype: float64
[1.0]
94    0.362088
Name: (2022-07-15, 2y), dtype: float64
[1.0]
95    0.497428
Name: (2022-07-15, 3y), dtype: float64
[1.0]
96    0.635676
Name: (2022-07-15, 4y), dtype: float64
[1.0]
97    0.76335
Name: (2022-07-15, 5y), dtype: float64
[1.0]
98    1.039971
Name: (2022-07-15, 8y), dtype: float64
[1.0]
171    1.166037
Name: (2022-07-18, 10y), dtype: float64
[1.0]
172    1.333823
Name: (2022-07-18, 15y), dtype: float64
[1.0]
173    0.297313
Name: (2022-07-18, 18M), dtype: float64
[1.0]
174    0.22672
Name: (2022-07-18, 1y), dtype: float64
[1.0]
175    0.363781
Name: (2022-07-18, 2y), dtype: float64
[1.0]
176    0.499695
Name: (2022-07-18, 3y), dtype: float64
[1.0]
177    0.638661
Name: (2022-07-18, 4y), dtype: float64
[1.0]
178    0.76578
Name: (2022-07-18, 5y), dtype: float64
[1.0]
179    1.04156
Name: (2022-07-18, 8y), dtype: float64
[1.0]
252    1.155497
Name: (2022-07-19, 10y), dtype: float64
[1.0]
253    1.318976
Name: (2022-07-19, 15y), dtype: float64
[1.0]
254    0.289532
Name: (2022-07-19, 18M), dtype: float64
[1.0]
255    0.219206
Name: (2022-07-19, 1y), dtype: float64
[1.0]
256    0.355979
Name: (2022-07-19, 2y), dtype: float64
[1.0]
257    0.489344
Name: (2022-07-19, 3y), dtype: float64
[1.0]
258    0.626333
Name: (2022-07-19, 4y), dtype: float64
[1.0]
259    0.754722
Name: (2022-07-19, 5y), dtype: float64
[1.0]
260    1.033324
Name: (2022-07-19, 8y), dtype: float64
[1.0]
333    1.157057
Name: (2022-07-20, 10y), dtype: float64
[1.0]
334    1.322154
Name: (2022-07-20, 15y), dtype: float64
[1.0]
335    0.294139
Name: (2022-07-20, 18M), dtype: float64
[1.0]
336    0.223247
Name: (2022-07-20, 1y), dtype: float64
[1.0]
337    0.361692
Name: (2022-07-20, 2y), dtype: float64
[1.0]
338    0.49647
Name: (2022-07-20, 3y), dtype: float64
[1.0]
339    0.633294
Name: (2022-07-20, 4y), dtype: float64
[1.0]
340    0.759872
Name: (2022-07-20, 5y), dtype: float64
[1.0]
341    1.035285
Name: (2022-07-20, 8y), dtype: float64
[1.0]
414    1.182754
Name: (2022-07-21, 10y), dtype: float64
[1.0]
415    1.350195
Name: (2022-07-21, 15y), dtype: float64
[1.0]
416    0.293811
Name: (2022-07-21, 18M), dtype: float64
[1.0]
417    0.220157
Name: (2022-07-21, 1y), dtype: float64
[1.0]
418    0.363327
Name: (2022-07-21, 2y), dtype: float64
[1.0]
419    0.500132
Name: (2022-07-21, 3y), dtype: float64
[1.0]
420    0.64097
Name: (2022-07-21, 4y), dtype: float64
[1.0]
421    0.77327
Name: (2022-07-21, 5y), dtype: float64
[1.0]
422    1.058062
Name: (2022-07-21, 8y), dtype: float64
[1.0]
495    1.176435
Name: (2022-07-22, 10y), dtype: float64
[1.0]
496    1.345422
Name: (2022-07-22, 15y), dtype: float64
[1.0]
497    0.289811
Name: (2022-07-22, 18M), dtype: float64
[1.0]
498    0.218761
Name: (2022-07-22, 1y), dtype: float64
[1.0]
499    0.359466
Name: (2022-07-22, 2y), dtype: float64
[1.0]
500    0.497344
Name: (2022-07-22, 3y), dtype: float64
[1.0]
501    0.637752
Name: (2022-07-22, 4y), dtype: float64
[1.0]
502    0.768638
Name: (2022-07-22, 5y), dtype: float64
[1.0]
503    1.050622
Name: (2022-07-22, 8y), dtype: float64
[1.0]
576    1.135779
Name: (2022-07-25, 10y), dtype: float64
[1.0]
577    1.302452
Name: (2022-07-25, 15y), dtype: float64
[1.0]
578    0.280496
Name: (2022-07-25, 18M), dtype: float64
[1.0]
579    0.212093
Name: (2022-07-25, 1y), dtype: float64
[1.0]
580    0.347109
Name: (2022-07-25, 2y), dtype: float64
[1.0]
581    0.478051
Name: (2022-07-25, 3y), dtype: float64
[1.0]
582    0.612698
Name: (2022-07-25, 4y), dtype: float64
[1.0]
583    0.738323
Name: (2022-07-25, 5y), dtype: float64
[1.0]
584    1.011832
Name: (2022-07-25, 8y), dtype: float64
[1.0]
657    1.13714
Name: (2022-07-26, 10y), dtype: float64
[1.0]
658    1.302057
Name: (2022-07-26, 15y), dtype: float64
[1.0]
659    0.284521
Name: (2022-07-26, 18M), dtype: float64
[1.0]
660    0.214498
Name: (2022-07-26, 1y), dtype: float64
[1.0]
661    0.351433
Name: (2022-07-26, 2y), dtype: float64
[1.0]
662    0.483028
Name: (2022-07-26, 3y), dtype: float64
[1.0]
663    0.616876
Name: (2022-07-26, 4y), dtype: float64
[1.0]
664    0.74155
Name: (2022-07-26, 5y), dtype: float64
[1.0]
665    1.014242
Name: (2022-07-26, 8y), dtype: float64
[1.0]
738    1.116946
Name: (2022-07-27, 10y), dtype: float64
[1.0]
739    1.280062
Name: (2022-07-27, 15y), dtype: float64
[1.0]
740    0.281917
Name: (2022-07-27, 18M), dtype: float64
[1.0]
741    0.211514
Name: (2022-07-27, 1y), dtype: float64
[1.0]
742    0.34697
Name: (2022-07-27, 2y), dtype: float64
[1.0]
743    0.472023
Name: (2022-07-27, 3y), dtype: float64
[1.0]
744    0.602765
Name: (2022-07-27, 4y), dtype: float64
[1.0]
745    0.726006
Name: (2022-07-27, 5y), dtype: float64
[1.0]
746    0.995892
Name: (2022-07-27, 8y), dtype: float64
[1.0]
819    1.160317
Name: (2022-07-28, 10y), dtype: float64
[1.0]
820    1.322515
Name: (2022-07-28, 15y), dtype: float64
[1.0]
821    0.296926
Name: (2022-07-28, 18M), dtype: float64
[1.0]
822    0.221876
Name: (2022-07-28, 1y), dtype: float64
[1.0]
823    0.365448
Name: (2022-07-28, 2y), dtype: float64
[1.0]
824    0.495904
Name: (2022-07-28, 3y), dtype: float64
[1.0]
825    0.632795
Name: (2022-07-28, 4y), dtype: float64
[1.0]
826    0.760688
Name: (2022-07-28, 5y), dtype: float64
[1.0]
827    1.038179
Name: (2022-07-28, 8y), dtype: float64
[1.0]
900    1.200407
Name: (2022-07-29, 10y), dtype: float64
[1.0]
901    1.362212
Name: (2022-07-29, 15y), dtype: float64
[1.0]
902    0.29469
Name: (2022-07-29, 18M), dtype: float64
[1.0]
903    0.217146
Name: (2022-07-29, 1y), dtype: float64
[1.0]
904    0.369791
Name: (2022-07-29, 2y), dtype: float64
[1.0]
905    0.515246
Name: (2022-07-29, 3y), dtype: float64
[1.0]
906    0.660894
Name: (2022-07-29, 4y), dtype: float64
[1.0]
907    0.793212
Name: (2022-07-29, 5y), dtype: float64
[1.0]
908    1.076826
Name: (2022-07-29, 8y), dtype: float64
[1.0]
981    1.189475
Name: (2022-08-01, 10y), dtype: float64
[1.0]
982    1.350932
Name: (2022-08-01, 15y), dtype: float64
[1.0]
983    0.286992
Name: (2022-08-01, 18M), dtype: float64
[1.0]
984    0.209799
Name: (2022-08-01, 1y), dtype: float64
[1.0]
985    0.361439
Name: (2022-08-01, 2y), dtype: float64
[1.0]
986    0.505438
Name: (2022-08-01, 3y), dtype: float64
[1.0]
987    0.650585
Name: (2022-08-01, 4y), dtype: float64
[1.0]
988    0.78302
Name: (2022-08-01, 5y), dtype: float64
[1.0]
989    1.066367
Name: (2022-08-01, 8y), dtype: float64
[1.0]
18    1.230669
Name: (2023-01-13, 10y), dtype: float64
[1.0]
19    1.366393
Name: (2023-01-13, 15y), dtype: float64
[1.0]
20    0.43646
Name: (2023-01-13, 18M), dtype: float64
[1.0]
21    0.362688
Name: (2023-01-13, 1y), dtype: float64
[1.0]
22    0.509029
Name: (2023-01-13, 2y), dtype: float64
[1.0]
23    0.650651
Name: (2023-01-13, 3y), dtype: float64
[1.0]
24    0.782766
Name: (2023-01-13, 4y), dtype: float64
[1.0]
25    0.89236
Name: (2023-01-13, 5y), dtype: float64
[1.0]
26    1.127124
Name: (2023-01-13, 8y), dtype: float64
[1.0]
99    1.242718
Name: (2023-01-16, 10y), dtype: float64
[1.0]
100    1.38537
Name: (2023-01-16, 15y), dtype: float64
[1.0]
101    0.418381
Name: (2023-01-16, 18M), dtype: float64
[1.0]
102    0.346375
Name: (2023-01-16, 1y), dtype: float64
[1.0]
103    0.489838
Name: (2023-01-16, 2y), dtype: float64
[1.0]
104    0.631393
Name: (2023-01-16, 3y), dtype: float64
[1.0]
105    0.768896
Name: (2023-01-16, 4y), dtype: float64
[1.0]
106    0.885728
Name: (2023-01-16, 5y), dtype: float64
[1.0]
107    1.132815
Name: (2023-01-16, 8y), dtype: float64
[1.0]
180    1.243076
Name: (2023-01-18, 10y), dtype: float64
[1.0]
181    1.385644
Name: (2023-01-18, 15y), dtype: float64
[1.0]
182    0.419273
Name: (2023-01-18, 18M), dtype: float64
[1.0]
183    0.347218
Name: (2023-01-18, 1y), dtype: float64
[1.0]
184    0.491892
Name: (2023-01-18, 2y), dtype: float64
[1.0]
185    0.633538
Name: (2023-01-18, 3y), dtype: float64
[1.0]
186    0.769482
Name: (2023-01-18, 4y), dtype: float64
[1.0]
187    0.886242
Name: (2023-01-18, 5y), dtype: float64
[1.0]
188    1.134072
Name: (2023-01-18, 8y), dtype: float64
[1.0]
261    1.231685
Name: (2023-01-19, 10y), dtype: float64
[1.0]
262    1.370028
Name: (2023-01-19, 15y), dtype: float64
[1.0]
263    0.410721
Name: (2023-01-19, 18M), dtype: float64
[1.0]
264    0.338327
Name: (2023-01-19, 1y), dtype: float64
[1.0]
265    0.481073
Name: (2023-01-19, 2y), dtype: float64
[1.0]
266    0.620132
Name: (2023-01-19, 3y), dtype: float64
[1.0]
267    0.756898
Name: (2023-01-19, 4y), dtype: float64
[1.0]
268    0.875795
Name: (2023-01-19, 5y), dtype: float64
[1.0]
269    1.125112
Name: (2023-01-19, 8y), dtype: float64
[1.0]
342    1.233332
Name: (2023-01-20, 10y), dtype: float64
[1.0]
343    1.373332
Name: (2023-01-20, 15y), dtype: float64
[1.0]
344    0.417092
Name: (2023-01-20, 18M), dtype: float64
[1.0]
345    0.343398
Name: (2023-01-20, 1y), dtype: float64
[1.0]
346    0.488118
Name: (2023-01-20, 2y), dtype: float64
[1.0]
347    0.628404
Name: (2023-01-20, 3y), dtype: float64
[1.0]
348    0.763597
Name: (2023-01-20, 4y), dtype: float64
[1.0]
349    0.880003
Name: (2023-01-20, 5y), dtype: float64
[1.0]
350    1.126303
Name: (2023-01-20, 8y), dtype: float64
[1.0]
423    1.262025
504    1.255379
Name: (2023-01-23, 10y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
424    1.403265
505    1.398162
Name: (2023-01-23, 15y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
425    0.421514
506    0.416654
Name: (2023-01-23, 18M), dtype: float64
[0.22222222222222224, 0.6666666666666666]
426    0.345693
507    0.340310
Name: (2023-01-23, 1y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
427    0.494084
508    0.489965
Name: (2023-01-23, 2y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
428    0.636556
509    0.632893
Name: (2023-01-23, 3y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
429    0.778053
510    0.773200
Name: (2023-01-23, 4y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
430    0.899459
511    0.893082
Name: (2023-01-23, 5y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
431    1.152666
512    1.144648
Name: (2023-01-23, 8y), dtype: float64
[0.22222222222222224, 0.6666666666666666]
585    1.211566
Name: (2023-01-25, 10y), dtype: float64
[1.0]
586    1.352882
Name: (2023-01-25, 15y), dtype: float64
[1.0]
587    0.400098
Name: (2023-01-25, 18M), dtype: float64
[1.0]
588    0.326591
Name: (2023-01-25, 1y), dtype: float64
[1.0]
589    0.470456
Name: (2023-01-25, 2y), dtype: float64
[1.0]
590    0.606176
Name: (2023-01-25, 3y), dtype: float64
[1.0]
591    0.739998
Name: (2023-01-25, 4y), dtype: float64
[1.0]
592    0.856393
Name: (2023-01-25, 5y), dtype: float64
[1.0]
593    1.102509
Name: (2023-01-25, 8y), dtype: float64
[1.0]
666    1.212807
Name: (2023-01-26, 10y), dtype: float64
[1.0]
667    1.352385
Name: (2023-01-26, 15y), dtype: float64
[1.0]
668    0.40546
Name: (2023-01-26, 18M), dtype: float64
[1.0]
669    0.33202
Name: (2023-01-26, 1y), dtype: float64
[1.0]
670    0.474791
Name: (2023-01-26, 2y), dtype: float64
[1.0]
671    0.611185
Name: (2023-01-26, 3y), dtype: float64
[1.0]
672    0.744344
Name: (2023-01-26, 4y), dtype: float64
[1.0]
673    0.8598
Name: (2023-01-26, 5y), dtype: float64
[1.0]
674    1.104659
Name: (2023-01-26, 8y), dtype: float64
[1.0]
747    1.191377
Name: (2023-01-27, 10y), dtype: float64
[1.0]
748    1.329507
Name: (2023-01-27, 15y), dtype: float64
[1.0]
749    0.400284
Name: (2023-01-27, 18M), dtype: float64
[1.0]
750    0.329315
Name: (2023-01-27, 1y), dtype: float64
[1.0]
751    0.464875
Name: (2023-01-27, 2y), dtype: float64
[1.0]
752    0.596999
Name: (2023-01-27, 3y), dtype: float64
[1.0]
753    0.728133
Name: (2023-01-27, 4y), dtype: float64
[1.0]
754    0.842109
Name: (2023-01-27, 5y), dtype: float64
[1.0]
755    1.084259
Name: (2023-01-27, 8y), dtype: float64
[1.0]
828    1.237859
Name: (2023-01-30, 10y), dtype: float64
[1.0]
829    1.373694
Name: (2023-01-30, 15y), dtype: float64
[1.0]
830    0.423021
Name: (2023-01-30, 18M), dtype: float64
[1.0]
831    0.348374
Name: (2023-01-30, 1y), dtype: float64
[1.0]
832    0.490936
Name: (2023-01-30, 2y), dtype: float64

     Start Date Tenor  Swap Rate
0    2022-01-13   10y   1.081333
1    2022-01-13   15y   1.265960
2    2022-01-13   18M   0.221625
3    2022-01-13    1y   0.195474
4    2022-01-13    2y   0.279370
..          ...   ...        ...
788  2036-01-31    2y   1.697844
789  2036-01-31    3y   1.692126
790  2036-01-31    4y   1.682458
791  2036-01-31    5y   1.674234
792  2036-01-31    8y   1.644179

[793 rows x 3 columns]

In [46]:
swap_rates_by_today["Start Date"].value_counts()
# 根据date进行排序，用最新的startdate的swap rate

99

In [10]:
len(swap_rates)

63180

In [28]:
swap_vols = pd.read_csv("../data/market-data-swaption-vols.csv")
swap_vols["Date"].value_counts()

2022-04-08    810
2022-06-07    810
2023-10-30    810
2022-03-09    810
2021-12-09    810
             ...
2023-09-28    405
2023-02-14    405
2021-11-19    405
2022-07-21    405
2023-02-13    405
Name: Date, Length: 754, dtype: int64

In [29]:
swap_vols.head(10)

         Date Expiry Tenor    Strike      Vols
0  2021-01-13    10y   10y  atm-1.0%  0.170552
1  2021-01-13    10y   10y  atm-0.5%  0.135412
2  2021-01-13    10y   10y       atm  0.114587
3  2021-01-13    10y   10y  atm+0.5%  0.137742
4  2021-01-13    10y   10y  atm+1.0%  0.169685
5  2021-01-13    10y   15y  atm-1.0%  0.156420
6  2021-01-13    10y   15y  atm-0.5%  0.127636
7  2021-01-13    10y   15y       atm  0.108229
8  2021-01-13    10y   15y  atm+0.5%  0.130351
9  2021-01-13    10y   15y  atm+1.0%  0.161753

In [47]:
len(swap_vols)

315900

In [35]:
# 按照strike和expiration分组，并计算平均波动率
gp_vols = swap_vols.groupby(['Expiry', 'Tenor', 'Date'])['Vols'].mean().reset_index()
print("\nAggregated DataFrame (mean volatility):")
print(gp_vols)

Aggregated DataFrame (mean volatility):
      Expiry Tenor        Date      Vols
0        10y   10y  2021-01-13  0.145596
1        10y   10y  2021-01-15  0.145449
2        10y   10y  2021-01-18  0.145109
3        10y   10y  2021-01-19  0.144115
4        10y   10y  2021-01-20  0.143333
...      ...   ...         ...       ...
61069     8y    8y  2024-01-08  0.256855
61070     8y    8y  2024-01-09  0.256540
61071     8y    8y  2024-01-10  0.256868
61072     8y    8y  2024-01-11  0.258929
61073     8y    8y  2024-01-12  0.261329

[61074 rows x 4 columns]

In [12]:
swap_vols["Expiry"].value_counts()

10y    35100
3y     35100
5y     35100
15y    35100
4y     35100
8y     35100
1y     35100
18M    35100
2y     35100
Name: Expiry, dtype: int64

In [13]:
swap_vols.describe()

                Vols
count  315900.000000
mean        0.380107
std         0.432522
min         0.005489
25%         0.119821
50%         0.202674
75%         0.426787
max         3.338007

In [14]:
len(swap_vols)

315900

In [15]:
trade_information = pd.read_csv("../data/trade-information.csv")
trade_information.head(20)

,trade name,underlying,pay_frequency,maturity,lower_bound,upper_bound
0,dummyTrade1,USD: CMS:2Y,6M,5Y,0.0042,0.0379
1,dummyTrade2,USD: CMS:2Y,4M,5Y,0.0042,0.0379
2,dummyTrade3,USD: CMS:5Y,6M,5Y,0.0044,0.0397
3,dummyTrade4,USD: CMS:5Y,4M,5Y,0.0044,0.0397
4,dummyTrade5,USD: CMS:10Y,4M,5Y,0.0046,0.0417
5,dummyTrade6,USD: CMS:10Y,3M,5Y,0.0046,0.0417
6,dummyTrade7,USD: CMS:2Y,6M,10Y,0.0042,0.0379
7,dummyTrade8,USD: CMS:2Y,4M,10Y,0.0042,0.0379
8,dummyTrade9,USD: CMS:5Y,6M,10Y,0.0044,0.0397
9,dummyTrade10,USD: CMS:5Y,4M,10Y,0.0044,0.0397
10,dummyTrade11,USD: CMS:10Y,4M,10Y,0.0046,0.0417
11,dummyTrade12,USD: CMS:10Y,3M,10Y,0.0046,0.0417

In [16]:
len(trade_information)

12

In [19]:
vegas = pd.read_csv("../data/trade-price-ir-vegas.csv")
vegas.head(20)

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega
0,2022-09-02,dummyTrade1,USD,-100,-227907.098775,1y,2023-09-04,10y,1.962246
1,2022-09-02,dummyTrade1,USD,-50,-222208.400967,1y,2023-09-04,10y,-3.812341
2,2022-09-02,dummyTrade1,USD,-25,-218960.927995,1y,2023-09-04,10y,4.471006
3,2022-09-02,dummyTrade1,USD,-10,-216872.430106,1y,2023-09-04,10y,4.333398
4,2022-09-02,dummyTrade1,USD,-5,-216146.310328,1y,2023-09-04,10y,5.679687
5,2022-09-02,dummyTrade1,USD,0,-215402.656152,1y,2023-09-04,10y,5.016274
6,2022-09-02,dummyTrade1,USD,5,-214640.494071,1y,2023-09-04,10y,3.458172
7,2022-09-02,dummyTrade1,USD,10,-213858.452424,1y,2023-09-04,10y,3.132444
8,2022-09-02,dummyTrade1,USD,25,-211345.804723,1y,2023-09-04,10y,12.184058
9,2022-09-02,dummyTrade1,USD,50,-206384.346001,1y,2023-09-04,10y,15.648409
10,2022-09-02,dummyTrade1,USD,75,-199714.293638,1y,2023-09-04,10y,31.209875
11,2022-09-02,dummyTrade1,USD,100,-189622.259104,1y,2023-09-04,10y,35.883400
12,2022-09-02,dummyTrade10,USD,-100,-672928.672914,1y,2023-09-04,10y,-47.707514
13,2022-09-02,dummyTrade10,USD,-50,-650078.922656,1y,2023-09-04,10y,-39.200698
14,2022-09-02,dummyTrade10,USD,-25,-634657.438077,1y,2023-09-04,10y,-58.360957
15,2022-09-02,dummyTrade10,USD,-10,-624022.660536,1y,2023-09-04,10y,-33.283137
16,2022-09-02,dummyTrade10,USD,-5,-620231.351400,1y,2023-09-04,10y,-30.736273
17,2022-09-02,dummyTrade10,USD,0,-616299.369241,1y,2023-09-04,10y,-59.820414
18,2022-09-02,dummyTrade10,USD,5,-612233.392379,1y,2023-09-04,10y,-62.165991
19,2022-09-02,dummyTrade10,USD,10,-608000.180857,1y,2023-09-04,10y,-75.096045

In [20]:
correlation_AB = vegas['TV'].corr(vegas['Vega'])
correlation_AB

-0.003990306529211773

In [21]:
vegas["Value Date"].value_counts()

2022-11-18    11664
2023-08-31    11664
2023-12-08    11664
2023-05-24    11664
2023-11-14    11664
              ...
2022-12-08    11664
2022-11-02    11664
2023-10-02    11664
2023-04-17    11664
2022-11-16    11664
Name: Value Date, Length: 336, dtype: int64

In [22]:
vegas["Tenor Bucket"].value_counts()

10y    435456
1y     435456
2y     435456
18M    435456
3y     435456
5y     435456
15y    435456
4y     435456
8y     435456
Name: Tenor Bucket, dtype: int64

In [23]:
435456/12
# EACH TRADE HAS 36288 different tenors 36288 15y tenors

36288.0

In [24]:
len(vegas[vegas["Trade Name"] == "dummyTrade1"])

326592

In [25]:
vegas.describe()

       Zero Rate Shock            TV          Vega
count     3.919104e+06  3.919104e+06  3.919104e+06
mean      6.250000e+00 -3.471395e+05  1.714511e+01
std       5.136167e+01  1.856180e+05  2.850144e+03
min      -1.000000e+02 -7.174312e+05 -1.385180e+06
25%      -1.375000e+01 -5.291890e+05 -1.342167e+00
50%       2.500000e+00 -2.242142e+05  1.336000e-04
75%       3.125000e+01 -1.857137e+05  7.386112e+00
max       1.000000e+02 -2.911344e+04  1.110263e+06

In [26]:
len(vegas)

3919104

# Data Combination of vegas sheet and the volities sheet

In [41]:
vegas.head(10)

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega
0,2022-09-02,dummyTrade1,USD,-100,-227907.098775,1y,2023-09-04,10y,1.962246
1,2022-09-02,dummyTrade1,USD,-50,-222208.400967,1y,2023-09-04,10y,-3.812341
2,2022-09-02,dummyTrade1,USD,-25,-218960.927995,1y,2023-09-04,10y,4.471006
3,2022-09-02,dummyTrade1,USD,-10,-216872.430106,1y,2023-09-04,10y,4.333398
4,2022-09-02,dummyTrade1,USD,-5,-216146.310328,1y,2023-09-04,10y,5.679687
5,2022-09-02,dummyTrade1,USD,0,-215402.656152,1y,2023-09-04,10y,5.016274
6,2022-09-02,dummyTrade1,USD,5,-214640.494071,1y,2023-09-04,10y,3.458172
7,2022-09-02,dummyTrade1,USD,10,-213858.452424,1y,2023-09-04,10y,3.132444
8,2022-09-02,dummyTrade1,USD,25,-211345.804723,1y,2023-09-04,10y,12.184058
9,2022-09-02,dummyTrade1,USD,50,-206384.346001,1y,2023-09-04,10y,15.648409

In [45]:
V_vegas = pd.merge(vegas.head(100), gp_vols, left_on = ["Value Date", "Expiry Bucket", "Tenor Bucket"], \
                right_on= ["Date", "Expiry", "Tenor"], how = "inner")

V_vegas = V_vegas.drop(columns = ['Expiry', "Tenor", "Date"])
V_vegas

,Value Date,Trade Name,Trade Currency,Zero Rate Shock,TV,Expiry Bucket,Expiry Date,Tenor Bucket,Vega,Vols
0,2022-09-02,dummyTrade1,USD,-100,-227907.098775,1y,2023-09-04,10y,1.962246,0.223827
1,2022-09-02,dummyTrade1,USD,-50,-222208.400967,1y,2023-09-04,10y,-3.812341,0.223827
2,2022-09-02,dummyTrade1,USD,-25,-218960.927995,1y,2023-09-04,10y,4.471006,0.223827
3,2022-09-02,dummyTrade1,USD,-10,-216872.430106,1y,2023-09-04,10y,4.333398,0.223827
4,2022-09-02,dummyTrade1,USD,-5,-216146.310328,1y,2023-09-04,10y,5.679687,0.223827
...,...,...,...,...,...,...,...,...,...,...
95,2022-09-02,dummyTrade5,USD,100,-182298.810410,1y,2023-09-04,10y,-8.537942,0.223827
96,2022-09-02,dummyTrade6,USD,-100,-224125.131298,1y,2023-09-04,10y,-6.834734,0.223827
97,2022-09-02,dummyTrade6,USD,-50,-219636.077304,1y,2023-09-04,10y,-5.563973,0.223827
98,2022-09-02,dummyTrade6,USD,-25,-216429.777528,1y,2023-09-04,10y,-5.522299,0.223827
99,2022-09-02,dummyTrade6,USD,-10,-214198.402514,1y,2023-09-04,10y,-8.385197,0.223827