In [2]:
import pandas as pd
from datetime import datetime

In [27]:
swap_rates = pd.read_csv("./market-data-swap-rates.csv")
swap_rates.head(50)

          Date  Start Date Tenor  Swap Rate
0   2021-01-13  2022-01-13   10y   1.081333
1   2021-01-13  2022-01-13   15y   1.265960
2   2021-01-13  2022-01-13   18M   0.221625
3   2021-01-13  2022-01-13    1y   0.195474
4   2021-01-13  2022-01-13    2y   0.279370
5   2021-01-13  2022-01-13    3y   0.404284
6   2021-01-13  2022-01-13    4y   0.536341
7   2021-01-13  2022-01-13    5y   0.664396
8   2021-01-13  2022-01-13    8y   0.950975
9   2021-01-13  2022-07-13   10y   1.155757
10  2021-01-13  2022-07-13   15y   1.315969
11  2021-01-13  2022-07-13   18M   0.310738
12  2021-01-13  2022-07-13    1y   0.240025
13  2021-01-13  2022-07-13    2y   0.378942
14  2021-01-13  2022-07-13    3y   0.516830
15  2021-01-13  2022-07-13    4y   0.653250
16  2021-01-13  2022-07-13    5y   0.775163
17  2021-01-13  2022-07-13    8y   1.038092
18  2021-01-13  2023-01-13   10y   1.230669
19  2021-01-13  2023-01-13   15y   1.366393
20  2021-01-13  2023-01-13   18M   0.436460
21  2021-01-13  2023-01-13    1y   0.362688
22  2021-01-13  2023-01-13    2y   0.509029
23  2021-01-13  2023-01-13    3y   0.650651
24  2021-01-13  2023-01-13    4y   0.782766
25  2021-01-13  2023-01-13    5y   0.892360
26  2021-01-13  2023-01-13    8y   1.127124
27  2021-01-13  2024-01-15   10y   1.365134
28  2021-01-13  2024-01-15   15y   1.456788
29  2021-01-13  2024-01-15   18M   0.726273
30  2021-01-13  2024-01-15    1y   0.658901
31  2021-01-13  2024-01-15    2y   0.798060
32  2021-01-13  2024-01-15    3y   0.926464
33  2021-01-13  2024-01-15    4y   1.029440
34  2021-01-13  2024-01-15    5y   1.112759
35  2021-01-13  2024-01-15    8y   1.291164
36  2021-01-13  2025-01-13   10y   1.467907
37  2021-01-13  2025-01-13   15y   1.524979
38  2021-01-13  2025-01-13   18M   0.998679
39  2021-01-13  2025-01-13    1y   0.936284
40  2021-01-13  2025-01-13    2y   1.060054
41  2021-01-13  2025-01-13    3y   1.152556
42  2021-01-13  2025-01-13    4y   1.227667
43  2021-01-13  2025-01-13    5y   1.288969
44  2021-01-13  2025-01-13    8y   1.420018
45  2021-01-13  2026-01-13   10y   1.543005
46  2021-01-13  2026-01-13   15y   1.573561
47  2021-01-13  2026-01-13   18M   1.222653
48  2021-01-13  2026-01-13    1y   1.184946
49  2021-01-13  2026-01-13    2y   1.262265

In [28]:
train_data = swap_rates[swap_rates["Start Date"] < "2024-05-14"]
test_data = swap_rates[swap_rates["Start Date"] >= "2024-05-14"]

In [35]:
train_data.head(150)

           Date  Start Date Tenor  Swap Rate
0    2021-01-13  2022-01-13   10y   1.081333
1    2021-01-13  2022-01-13   15y   1.265960
2    2021-01-13  2022-01-13   18M   0.221625
3    2021-01-13  2022-01-13    1y   0.195474
4    2021-01-13  2022-01-13    2y   0.279370
..          ...         ...   ...        ...
325  2021-01-20  2022-01-20   15y   1.271112
326  2021-01-20  2022-01-20   18M   0.204330
327  2021-01-20  2022-01-20    1y   0.180845
328  2021-01-20  2022-01-20    2y   0.262298
329  2021-01-20  2022-01-20    3y   0.385590

[150 rows x 4 columns]

In [37]:
train_data["Date"] = pd.to_datetime(train_data["Date"])
test_data["Start Date"]=pd.to_datetime(test_data["Start Date"])

/var/folders/qn/9rnt7bv53vg4gxssynm5qb1w0000gn/T/ipykernel_5128/1702741018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Date"] = pd.to_datetime(train_data["Date"])
/var/folders/qn/9rnt7bv53vg4gxssynm5qb1w0000gn/T/ipykernel_5128/1702741018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Start Date"]=pd.to_datetime(test_data["Start Date"])

averaged_traindata.head()

In [39]:
train_grouped = train_data.groupby(['Start Date', 'Tenor'])
average_rate_train = grouped.mean()
average_rate_train

                                Date  Swap Rate
Start Date Tenor
2022-01-13 10y   2021-01-13 00:00:00   1.081333
           15y   2021-01-13 00:00:00   1.265960
           18M   2021-01-13 00:00:00   0.221625
           1y    2021-01-13 00:00:00   0.195474
           2y    2021-01-13 00:00:00   0.279370
...                              ...        ...
2024-05-13 2y    2022-03-18 07:12:00   2.150360
           3y    2022-03-18 07:12:00   2.187108
           4y    2022-03-18 07:12:00   2.233298
           5y    2022-03-18 07:12:00   2.272429
           8y    2022-03-18 07:12:00   2.361175

[5373 rows x 2 columns]

In [40]:
test_grouped = train_data.groupby(['Start Date', 'Tenor'])
average_rate_test = grouped.mean()
average_rate_test

                                Date  Swap Rate
Start Date Tenor
2022-01-13 10y   2021-01-13 00:00:00   1.081333
           15y   2021-01-13 00:00:00   1.265960
           18M   2021-01-13 00:00:00   0.221625
           1y    2021-01-13 00:00:00   0.195474
           2y    2021-01-13 00:00:00   0.279370
...                              ...        ...
2024-05-13 2y    2022-03-18 07:12:00   2.150360
           3y    2022-03-18 07:12:00   2.187108
           4y    2022-03-18 07:12:00   2.233298
           5y    2022-03-18 07:12:00   2.272429
           8y    2022-03-18 07:12:00   2.361175

[5373 rows x 2 columns]

In [41]:
average_rate_test.head(50)

                       Date  Swap Rate
Start Date Tenor
2022-01-13 10y   2021-01-13   1.081333
           15y   2021-01-13   1.265960
           18M   2021-01-13   0.221625
           1y    2021-01-13   0.195474
           2y    2021-01-13   0.279370
           3y    2021-01-13   0.404284
           4y    2021-01-13   0.536341
           5y    2021-01-13   0.664396
           8y    2021-01-13   0.950975
2022-01-17 10y   2021-01-15   1.089143
           15y   2021-01-15   1.282148
           18M   2021-01-15   0.207680
           1y    2021-01-15   0.183757
           2y    2021-01-15   0.265282
           3y    2021-01-15   0.388010
           4y    2021-01-15   0.520584
           5y    2021-01-15   0.651427
           8y    2021-01-15   0.951554
2022-01-18 10y   2021-01-18   1.089213
           15y   2021-01-18   1.282195
           18M   2021-01-18   0.207877
           1y    2021-01-18   0.183910
           2y    2021-01-18   0.265514
           3y    2021-01-18   0.389312
           4y    2021-01-18   0.520814
           5y    2021-01-18   0.651577
           8y    2021-01-18   0.951847
2022-01-19 10y   2021-01-19   1.079685
           15y   2021-01-19   1.268145
           18M   2021-01-19   0.201714
           1y    2021-01-19   0.179393
           2y    2021-01-19   0.258814
           3y    2021-01-19   0.380508
           4y    2021-01-19   0.509579
           5y    2021-01-19   0.640584
           8y    2021-01-19   0.944606
2022-01-20 10y   2021-01-20   1.080899
           15y   2021-01-20   1.271112
           18M   2021-01-20   0.204330
           1y    2021-01-20   0.180845
           2y    2021-01-20   0.262298
           3y    2021-01-20   0.385590
           4y    2021-01-20   0.516054
           5y    2021-01-20   0.646211
           8y    2021-01-20   0.946076
2022-01-21 10y   2021-01-21   1.104548
           15y   2021-01-21   1.297919
           18M   2021-01-21   0.201237
           1y    2021-01-21   0.177184
           2y    2021-01-21   0.261235

In [43]:
outputpath='average_rate_train.csv'
average_rate_train.to_csv(outputpath, sep=',',index=True,header=True)

In [ ]:
outputpath='average_rate_test.csv'
average_rate_test.to_csv(outputpath, sep=',',index=True,header=True)