In [31]:
import pandas as pd
from datetime import datetime

In [39]:
swap_rates = pd.read_csv("./UBS/market-data-swap-rates.csv")
swap_rates.head(50)

          Date  Start Date Tenor  Swap Rate
0   2021-01-13  2022-01-13   10y   1.081333
1   2021-01-13  2022-01-13   15y   1.265960
2   2021-01-13  2022-01-13   18M   0.221625
3   2021-01-13  2022-01-13    1y   0.195474
4   2021-01-13  2022-01-13    2y   0.279370
5   2021-01-13  2022-01-13    3y   0.404284
6   2021-01-13  2022-01-13    4y   0.536341
7   2021-01-13  2022-01-13    5y   0.664396
8   2021-01-13  2022-01-13    8y   0.950975
9   2021-01-13  2022-07-13   10y   1.155757
10  2021-01-13  2022-07-13   15y   1.315969
11  2021-01-13  2022-07-13   18M   0.310738
12  2021-01-13  2022-07-13    1y   0.240025
13  2021-01-13  2022-07-13    2y   0.378942
14  2021-01-13  2022-07-13    3y   0.516830
15  2021-01-13  2022-07-13    4y   0.653250
16  2021-01-13  2022-07-13    5y   0.775163
17  2021-01-13  2022-07-13    8y   1.038092
18  2021-01-13  2023-01-13   10y   1.230669
19  2021-01-13  2023-01-13   15y   1.366393
20  2021-01-13  2023-01-13   18M   0.436460
21  2021-01-13  2023-01-13    1y   0.362688
22  2021-01-13  2023-01-13    2y   0.509029
23  2021-01-13  2023-01-13    3y   0.650651
24  2021-01-13  2023-01-13    4y   0.782766
25  2021-01-13  2023-01-13    5y   0.892360
26  2021-01-13  2023-01-13    8y   1.127124
27  2021-01-13  2024-01-15   10y   1.365134
28  2021-01-13  2024-01-15   15y   1.456788
29  2021-01-13  2024-01-15   18M   0.726273
30  2021-01-13  2024-01-15    1y   0.658901
31  2021-01-13  2024-01-15    2y   0.798060
32  2021-01-13  2024-01-15    3y   0.926464
33  2021-01-13  2024-01-15    4y   1.029440
34  2021-01-13  2024-01-15    5y   1.112759
35  2021-01-13  2024-01-15    8y   1.291164
36  2021-01-13  2025-01-13   10y   1.467907
37  2021-01-13  2025-01-13   15y   1.524979
38  2021-01-13  2025-01-13   18M   0.998679
39  2021-01-13  2025-01-13    1y   0.936284
40  2021-01-13  2025-01-13    2y   1.060054
41  2021-01-13  2025-01-13    3y   1.152556
42  2021-01-13  2025-01-13    4y   1.227667
43  2021-01-13  2025-01-13    5y   1.288969
44  2021-01-13  2025-01-13    8y   1.420018
45  2021-01-13  2026-01-13   10y   1.543005
46  2021-01-13  2026-01-13   15y   1.573561
47  2021-01-13  2026-01-13   18M   1.222653
48  2021-01-13  2026-01-13    1y   1.184946
49  2021-01-13  2026-01-13    2y   1.262265

In [40]:
train_data = swap_rates[swap_rates["Start Date"] < "2024-05-14"]
test_data = swap_rates[swap_rates["Start Date"] >= "2024-05-14"]

In [45]:
train_data.head(150)

          Date  Start Date Tenor  Swap Rate
0   2021-01-13  2022-01-13   10y   1.081333
1   2021-01-13  2022-01-13   15y   1.265960
2   2021-01-13  2022-01-13   18M   0.221625
3   2021-01-13  2022-01-13    1y   0.195474
4   2021-01-13  2022-01-13    2y   0.279370
..         ...         ...   ...        ...
325 2021-01-20  2022-01-20   15y   1.271112
326 2021-01-20  2022-01-20   18M   0.204330
327 2021-01-20  2022-01-20    1y   0.180845
328 2021-01-20  2022-01-20    2y   0.262298
329 2021-01-20  2022-01-20    3y   0.385590

[150 rows x 4 columns]

In [37]:
print(train_data.isna()).value_counts()

        Date  Start Date  Tenor  Swap Rate  datediff
0      False       False  False      False      True
1      False       False  False      False      True
2      False       False  False      False      True
3      False       False  False      False      True
4      False       False  False      False      True
...      ...         ...    ...        ...       ...
48442  False       False  False      False      True
48443  False       False  False      False      True
48444  False       False  False      False      True
48445  False       False  False      False      True
48446  False       False  False      False      True

[13563 rows x 5 columns]

AttributeError: 'NoneType' object has no attribute 'value_counts'

In [25]:
test_data.describe()

,Date,Start Date,Swap Rate
count,49617,49617,49617.000000
mean,2022-09-15 03:58:28.579720448,2029-04-19 19:42:43.032831744,2.603635
min,2021-01-13 00:00:00,2024-05-14 00:00:00,0.863076
25%,2021-12-22 00:00:00,2025-09-29 00:00:00,1.913735
50%,2022-10-17 00:00:00,2027-09-28 00:00:00,2.746667
75%,2023-06-20 00:00:00,2031-11-21 00:00:00,3.099621
max,2024-01-12 00:00:00,2039-01-12 00:00:00,4.249516
std,NaN,NaN,0.711912

In [42]:
train_data["Date"] = pd.to_datetime(train_data["Date"])
test_data["Start Date"]=pd.to_datetime(test_data["Start Date"])

/var/folders/qn/9rnt7bv53vg4gxssynm5qb1w0000gn/T/ipykernel_3873/1702741018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Date"] = pd.to_datetime(train_data["Date"])
/var/folders/qn/9rnt7bv53vg4gxssynm5qb1w0000gn/T/ipykernel_3873/1702741018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["Start Date"]=pd.to_datetime(test_data["Start Date"])

In [43]:
train_data['datediff'] = (train_data['Start Date'] - test_data['Date']).dt.days
test_data['datediff'] = (test_data['Start Date'] - test_data['Date']).dt.days

AttributeError: Can only use .dt accessor with datetimelike values

In [44]:
averaged_traindata = train_data.groupby(['Date', 'Start Date', 'Tenor'])['Swap Rate'].mean().reset_index()
averaged_testdata = test_data.groupby(['Date', 'Start Date', 'Tenor'])['Swap Rate'].mean().reset_index()

In [46]:
averaged_traindata.head()

        Date  Start Date Tenor  Swap Rate
0 2021-01-13  2022-01-13   10y   1.081333
1 2021-01-13  2022-01-13   15y   1.265960
2 2021-01-13  2022-01-13   18M   0.221625
3 2021-01-13  2022-01-13    1y   0.195474
4 2021-01-13  2022-01-13    2y   0.279370